@font-face {
    font-family: 'Danger';
    src: url(./assets/font/Another_danger.otf) format('woff2');
    src: url(./assets/font/Another_dangerr.otf) format('woff2');
}

@font-face {
    font-family: 'Monster';
    src: url(./assets/font/MonsterScream-VGJqw.ttf) format('woff2');
}

@font-face {
    font-family: 'Spooky';
    src: url(./assets/font/SpookyWhisperDemo-2OBMv.otf) format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100vw;
    height: 100vh;


}

.win {
    display: flex;
    width: 100vw;
    position: absolute;
    margin-top: 2rem;
}

.winText {
    font-family: Danger;
    letter-spacing: 1rem;
    margin: auto;
}




/* ! ========================== Light */

section {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    /* display: none; */
    perspective: 1000px;

}

.tv {
    position: relative;
    width: 500px;
    height: 360px;
    overflow: hidden;
    background-color: black;

    opacity: .6;
    transform: rotateX(358deg) rotateY(23deg);
    transform-style: preserve-3d;
    /* position: absolute; */
    /* left: 5%; */
}

img {
    margin-left: 1rem;
    margin-top: 1rem;
    /* z-index: 3; */
    position: absolute;
    height: 100%;
    left: 1rem;
    top: 1rem;
}


.container {
    background-color: #1D1D1D;
    height: 22rem;
    align-items: center;
    justify-content: center;
    width: 28rem;
    transform: rotateX(360deg) rotateY(330deg);
    transform-style: preserve-3d;
    border-bottom-left-radius: 25px 255px;
    border-bottom-right-radius: 255px 45px;
    border-top-left-radius: 355px 15px;
    border-top-right-radius: 25px 225px;
    border-radius: 15px 225px 355px 15px 15px 355px 225px 15px;
    border: 3px solid rgb(105, 104, 104);
    box-shadow: 0px 0px 30px 0px rgba(240, 184, 184, 0.4);

}

.content {
    text-align: center;
    align-items: center;

}

.content h1:first-child {
    font-family: Danger;
    letter-spacing: 0.5rem;
    color: rgb(255, 255, 255);
    margin: 1.5rem 0;
}

.content h1:last-child {
    font-family: Spooky;
    color: rgb(255, 255, 255);
    letter-spacing: .1rem;


}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

}

#input {
    width: 10rem;
    height: 3rem;
    border: 3px solid red;
    border-radius: 1rem;
    text-align: center;
    font-family: Spooky;
    font-size: 1.5rem;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 3px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    outline: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 45px 225px;
    border-bottom-right-radius: 225px 45px;
    border-top-left-radius: 255px 45px;
    border-top-right-radius: 65px 285px;
    margin-right: 2rem;
}


.try {
    justify-content: center;
}

.feed-back {
    text-align: center;
    line-height: 2rem;
    height: 5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-chance {
    /* display: none; */
    text-align: center;
    font-family: Spooky;
    font-size: 1.5rem;
    line-height: 3rem;
    color: white;
    margin-top: 2rem;
}

.left-chance h2 {
    color: hsl(2, 100%, 53%, .8);
    font-family: Danger;
    margin-bottom: 1rem;
    /* letter-spacing: 1px; */
}

/* ! Buttons */

button {
    background-color: hsl(2, 100%, 53%);
    cursor: pointer;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #ffffff;
    font-family: Spooky;
    font-size: 1.5rem;
    line-height: 23px;
    outline: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 45px 225px;
    border-bottom-right-radius: 225px 45px;
    border-top-left-radius: 255px 45px;
    border-top-right-radius: 65px 285px;
    padding: 1.2rem;
}

button:hover {
    box-shadow: rgba(0, 0, 0, .5) 15px 18px 18px -5px;
    background-color: hsl(2, 100%, 53%, .8);
}


#try-again,
#play-again {
    display: none;
}

/* ! GLITCH */

.winText,
.content h1:nth-child(1) {
    animation: shine 2s forwards, blink 5s 2s infinite;
    animation: shine 2s forwards, blink 10s 1s infinite;
    z-index: 999;
}






@keyframes blink {

    0%,
    22%,
    36%,
    75% {
        color: #ffffffbc;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem hsl(2, 100%, 53%),
            -0.2rem 0.1rem 1rem hsl(2, 100%, 53%), 0.2rem 0.1rem 1rem hsl(2, 100%, 53%),
            0 -0.5rem 2rem #161213, 0 0.5rem 3rem hsl(2, 100%, 53%);
    }

    28%,
    33% {
        color: #d83a3a;
        text-shadow: none;
    }

    82%,
    97% {
        color: hsl(2, 100%, 53%);
        text-shadow: none;
    }
}


@keyframes shine {
    0% {
        color: hsl(2, 100%, 53%);
        text-shadow: none;
    }

    100% {
        color: #e76e6e;
        text-shadow: 0 0 0.6rem #870808, 0 0 1.5rem #d31e1e,
            -0.2rem 0.1rem 1rem #301e1e, 0.2rem 0.1rem 1rem #f60d0d,
            0 -0.5rem 2rem #150808, 0 0.5rem 3rem #ff0000;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }

    4% {
        opacity: 0.9;
    }

    6% {
        opacity: 0.85;
    }

    8% {
        opacity: 0.95;
    }

    10% {
        opacity: 0.9;
    }

    11% {
        opacity: 0.922;
    }

    12% {
        opacity: 0.9;
    }

    14% {
        opacity: 0.95;
    }

    16% {
        opacity: 0.98;
    }

    17% {
        opacity: 0.9;
    }

    19% {
        opacity: 0.93;
    }

    20% {
        opacity: 0.99;
    }

    24% {
        opacity: 1;
    }

    26% {
        opacity: 0.94;
    }

    28% {
        opacity: 0.98;
    }

    37% {
        opacity: 0.93;
    }

    38% {
        opacity: 0.5;
    }

    39% {
        opacity: 0.96;
    }

    42% {
        opacity: 1;
    }

    44% {
        opacity: 0.97;
    }

    46% {
        opacity: 0.94;
    }

    56% {
        opacity: 0.9;
    }

    58% {
        opacity: 0.9;
    }

    60% {
        opacity: 0.99;
    }

    68% {
        opacity: 1;
    }

    70% {
        opacity: 0.9;
    }

    72% {
        opacity: 0.95;
    }

    93% {
        opacity: 0.93;
    }

    95% {
        opacity: 0.95;
    }

    97% {
        opacity: 0.93;
    }

    to {
        opacity: 1;
    }
}


/* ! MEDIAAAAAAAAAAAAA */

@media screen and (max-width: 1200px) {
    .tv {
        position: absolute;
        left: 1rem;
    }

    .container {
        position: absolute;
        right: 3rem;
    }
}

@media screen and (max-width: 1000px) {
    body {
        height: fit-content;
    }

    section {
        display: flex;
        flex-direction: column-reverse;
        perspective: none;
        margin: 2rem 0;
    }

    .win {
        display: flex;
        text-align: center;
        margin-bottom: 1rem;
        position: static;
    }

    .tv {
        position: static;
        margin: 2rem 0;
    }

    .container {
        position: static;
    }
}



@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}