@font-face {
    font-family: 'Danger';
    src: url(./assets/Another_danger.otf) format('woff2');
    src: url(./assets/Another_dangerr.otf) format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: black; */
    width: 100vw;
    height: 100vh;

}

.tv {
    position: relative;
    width: 500px;
    height: 360px;
    overflow: hidden;
    background-color: black;
}

img {
    /* z-index: 3; */
    position: absolute;
    height: 100%;
    left: 1rem;
    top: 1rem;
}

section {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.container {
    /* display: flex; */
    background-color: #ddd;
    /* height: 20rem; */
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.content {
    text-align: center;
    align-items: center;
    line-height: 3rem;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#input {
    width: 9rem;
    height: 2rem;
    border: 1px solid red;
    border-radius: 1rem;
    text-align: center;
}

#check {
    width: 5rem;
    height: 2rem;
    border: 1px solid red;
    border-radius: 1rem;
    margin-left: 2rem;
    text-align: center;
    cursor: pointer;
}

.feed-back {
    text-align: center;
    line-height: 2rem;
    height: 5rem;
    margin-top: 1rem;
}

.left-chance {
    /* display: none; */
    text-align: center;
}